# Archivos de compilación
*.egg-info/
*.egg
dist/
build/

# Archivos de base de datos y migraciones
db.sqlite3
*.db
*.sqlite3
migrations/__pycache__/
migrations/*.pyc
# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

#entorno virtuales
.venv

### VS Code ###
.vscode/
*.zip
