<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Nuevo Activo</title>

</head>

<body>
    <h2>Registrar Activo</h2>
    <form th:action="@{/add_active_fisic}" method="post">
        <label>Tipo de activo:</label>


        <!-- Campos comunes -->
        <label>Nombre:</label>
        <input type="text" name="name" />
        <br />
        <label>Descripción:</label>
        <input type="text" name="descripcion" />
        <br />
        <label>Valor:</label>
        <input type="number" step="0.01" name="valor" />
        <br /><br />

        <!-- Campos específicos de activo físico -->
        <div id="fisicoFields" style="display:none;" th:object="${activeFisic}">
            <label>Ubicación:</label>
            <input type="text" name="ubicacion" />
            <br />
            <label>Estado:</label>
            <select th:field="*{estado}">
                <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}">
                </option>
            </select>
        </div>


        <br />
        <button type="submit">Guardar</button>
    </form>


    <a href="/">home</a>

</body>

</html>