<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activos fisicos</title>
</head>

<body>

    <h2>Activos fisicos</h2>


    <form th:action="@{/add_vuln_at_fisic_active}" method="post">
        <input type="text" name="name" th:value="${name}" placeholder="Ingrese nombre">
        <button type="submit">Buscar</button>
    </form>

    <form th:action="@{/add_vuln_at_fisic_active}" method="post">
        <input type="number" name="id" th:value="${id}" placeholder="Ingrese el id del activo">
        <button type="submit">Buscar</button>
    </form>

    <p th:if="${active == null}">
        No existe ningun elemento con es ID.
    </p>

    <div th:if="${active != null}">
        <h2>¿Que accion va a realizar?</h2>
        <h3 th_text="${active_name}"></h3>


        <form th:action="@{/add_vuln_at_fisic_active/action}" th:object="${action_request}" method="post">

            <label for="accion">Accion:</label>
            <select th:field="*{action}">
                <option th:each="accion : ${actions}" th:value="${accion}" th:text="${accion}">
                </option>
            </select>

            <br />
            <button type="submit">Enviar</button>

        </form>

    </div>

    <form th:if="${action_select == 'AGREGAR'}" th:action="@{/add_vuln_at_fisic_active/add}" th:object="${vuln}"
        method="post">

        <!-- Activo afectado -->
        <label for="activoAfectado">Activo afectado:</label>
        <select th:field="*{activoAfectado}" id="activoAfectado" required>
            <option th:each="activo : ${activos}" th:value="${activo}" th:text="${activo.nombre}"></option>
        </select>
        <br />

        <!-- Descripción -->
        <label for="descripcion">Descripción:</label>
        <textarea th:field="*{descripcion}" id="descripcion" rows="4" cols="50"></textarea>
        <br />

        <!-- CVE -->
        <label for="cve">CVE:</label>
        <input type="text" th:field="*{cve}" id="cve" maxlength="20" />
        <br />

        <!-- Fecha de descubrimiento -->
        <label for="fechaDeDescubrimiento">Fecha de descubrimiento:</label>
        <input type="date" th:field="*{fechaDeDescubrimiento}" id="fechaDeDescubrimiento" />
        <br />

        <!-- Estado -->
        <label for="estado">Estado:</label>
        <select th:field="*{estado}" id="estado">
            <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
        </select>
        <br />

        <button type="submit">Guardar</button>
    </form>



    <p th:if="${actives == null}">
        No existe ningun elemento con ese nombre.
    </p>

    <table th:if="${actives != null}" border="1" cellpadding="8" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Ubicación</th>
                <th>Estado</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>

            <!-- Ejemplo dinámico con Thymeleaf -->
            <tr th:each="activo : ${actives}">
                <td th:text="${activo.id}"></td>
                <td th:text="${activo.name}"></td>
                <td th:text="${activo.descripcion}"></td>
                <td th:text="${activo.ubicacion}"></td>
                <td th:text="${activo.estado}"></td>
                <td th:text="${activo.valor}"></td>
            </tr>
        </tbody>
    </table>


    <a href="/path">home</a>


</body>

</html>