<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>


</head>

<body>
    <h1>Home</h1>


    <h2 th:if="${success}" th:text="'Hola ' + ${usuario.name}"></h2>



    <ul>
        <li><a href="/login">Iniciar seccion</a></li>
        <li><a href="/sign">Registrarse</a></li>
        <li th:if="${success}"><a href="/add_active_fisic">Agregar activo físico</a></li>
        <li th:if="${success}"><a href="/add_active_digital">Agregar activo digital</a></li>
        <li th:if="${success}"><a href="/show_fisic_active">Ver los activos fisicos</a></li>
        <li th:if="${success}"><a href="/show_digital_active">Ver los activos digitales</a></li>
        <li th:if="${success}"><a href="/update_fisic_active">Ver los actualizar activos fisicos</a></li>
        <li th:if="${success}"><a href="/update_digital_active">Ver los actualizar activos digitales</a></li>
        <li th:if="${success}"><a href="/add_vuln_at_fisic_active">Agregar vulnerabilidades para activos fisicos</a>
        </li>
    </ul>




</body>

</html>