<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>


</head>

<body>
    <h1>Home</h1>



    <ul>
        <li><a href="/login">Iniciar seccion</a></li>
        <li><a href="/sign">Registrarse</a></li>
        <li><a href="/add_active_fisic">Agregar activo físico</a></li>
        <li><a href="/add_active_digital">Agregar activo digital</a></li>
        <li><a href="/show_digital_activos">Ver los activos fisicos</a></li>
    </ul>




</body>

</html>