<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de seccion</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>


    <h1>Inicio de seccion</h1>

    <form th:action="@{/login}" method="post" th:object="${user}">
        <label>Usuario:</label>
        <input type="text" th:field="*{name}" />
        <br />
        <label>Contraseña:</label>
        <input type="password" th:field="*{password}" />
        <br />
        <button type="submit">Entrar</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>

    <a href="/">home</a> <br>
    <a href="/sign">Registrarse</a>

</body>

</html>