{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
</head>

<body>

    <div class="container-md" id="cont">
        <h2 class="text-center">{{message}}</h2>



        <div id="actions">
            <h2>Acciones</h2>
            <div class="row justify-content-around">
                <div class="col-4"><a href="/scan">Realizar un escaneo</a></div>
                <div class="col-4"><a href="/result">Ver resultados</a></div>
            </div>

        </div>

    </div>


</body>

</html>